* {
  box-sizing: border-box;
  margin: 0;
}
@font-face {
  font-family: inter;
  src: url(/assets/font/Inter_18pt-Regular.ttf);
}
body {
  background-color: #e1d4c9;
  font-family: inter;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100%;
  flex-direction: column;
  gap: 50px;
}
.signindiv {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  gap: 24px;
}
h1 {
  font-size: 60px;
  color: #403f3d;
  font-weight: 600;
  line-height: 125%;
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.form-group > input {
  width: 400px;
  height: 56px;
  border-radius: 12px;
  padding: 12px 12px;
  border: 1px solid #c1b6ad;
  background: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.form-group > label {
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  color: #403f3d;
}
.signinbtn {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #665f55;
  border-radius: 100px;
  height: 44px;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}
.signinbtn > button {
  border: none;
  background: none;
  color: #403f3d;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}
